@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap");
body {
  font-family: "Orbitron", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.navbar {
  background-color: darkblue;
  box-shadow: 0 4px 10px rgba(0, 0, 139, 0.6);

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  cursor: pointer;
}
#title {
  font-size: 2rem;
  color: white;
}
#title span {
  color: red;
}

.logo img {
  height: 45px;
  width: 45px;
}
.navlink {
  display: flex;
  margin-right: 5rem;
}

.navlink ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1.5rem;
  list-style-type: none;
}

.navlink ul li a {
  margin-left: 3rem;
  color: white;
  text-decoration: none;
  border: 1px solid white;
  padding: 5px;
  border-radius: 5px;
}

.navlink ul li:hover {
  cursor: pointer;
  font-weight: bold;
}

.image-detection {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.left-pannel {
  width: 250px;
  height: 85vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.left-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.btn {
  display: inline-block;
  padding: 0.6rem 1.2rem;
  font-size: 1.2rem;
  font-weight: 600;
  color: #fff;
  background: linear-gradient(135deg, #007bff, #0056b3);
  border: none;
  border-radius: 0.5rem;
  text-align: center;
  text-decoration: none;
  outline: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

/* Hover Effect */
.btn:hover {
  background: linear-gradient(135deg, #0056b3, #004085);
  transform: translateY(-2px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

/* Active (Click) Effect */
.btn:active {
  transform: scale(0.98);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}

.right-pannel {
  width: 80%;
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

/* Table Image */
#table-image {
  width: 100%;
  height: 675px;
  position: absolute;
  z-index: 1;
}

/* Uploaded Image */
#uploaded-image {
  display: none;
  width: 1050px;
  height: 575px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  border-radius: 20px;
}

#main-canvas {
  position: absolute;
  z-index: 3;
}
/* image detection list and Graph */
.img-list-graph-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.img-detected-list {
  display: none;
  margin-top: 2.5rem;
  height: 100vh;
}
.img-refresh {
  margin-left: 2.5rem;
  margin-top: 1rem;
}
.img-list-container {
  font-family: Arial, sans-serif;
  width: 400px;
  height: 550px;
  overflow-y: auto;
  background: white;
  border: 2px solid #ccc;
  border-radius: 10px;
  padding: 1rem;
  margin-left: 2.5rem;
  margin-top: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.img-detection {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.img-detection:last-child {
  border-bottom: none;
}

/* Image Graph */
.img-graph {
  width: 90%;
  height: 535px;
  overflow-x: auto;
  border: 1px solid #ddd;
  padding: 10px;
  margin: auto;
  background: #f8f8f8;
  margin: 10px 20px;
}
#img-detectionsChart {
  width: 400px;
  height: 100%;
}



/* video detection */
.video-detection {
  margin-top: 2.5rem;
  height: 100vh;
}

.header {
  background-color: darkblue;
  box-shadow: 0 4px 10px rgba(0, 0, 139, 0.6);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  font-size: 1rem;
}

.input-vdo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 10px;
  gap: 10px;
  margin-top: 80px;
}

.main-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  gap: 10px; /* Adds spacing between video and canvas */
  max-width: 100%;
  overflow: hidden;
  flex-wrap: nowrap; /* Prevents wrapping */
}
.vdo-box {
  width: 48%; /* Ensures both elements fit within the display */
  max-width: 720px; /* Prevents elements from getting too large */
  height: auto;
  max-height: 550px;
  object-fit: contain;
  border: 3px solid rgb(7, 213, 38);
  border-radius: 5px;
}
/* video detection list and graph */
.video-list-graph-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.vdo-detected-list {
  display: none;
  margin-top: 2.5rem;
  height: 100vh;
}
.vdo-refresh {
  margin-left: 2.5rem;
  margin-top: 1rem;
}
.vdo-list-container{
  font-family: Arial, sans-serif;
  width: 400px;
  height: 550px;
  overflow-y: auto;
  background: white;
  border: 2px solid #ccc;
  border-radius: 10px;
  padding: 1rem;
  margin-left: 2.5rem;
  margin-top: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.vdo-detection {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.vdo-detection:last-child {
  border-bottom: none;
}
/* video Graph */
.video-graph {
  width: 90%;
  height: 535px;
  overflow-x: auto;
  border: 1px solid #ddd;
  padding: 10px;
  margin: auto;
  background: #f8f8f8;
  margin: 10px 20px;
}
#video-detectionsChart {
  width: 400px;
  height: 100%;
}

/* Live video detection */
.live-video-detection {
  height: 100vh;
  width: 100%;
}
.live-main-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  padding: 10px;
}
.live-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 2rem;
  margin-top: 35px;
}
.live-btn button:disabled {
  cursor: not-allowed;
  background-color: #cccccc;
}

.live-vdo-input {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 10px;
  margin: 10px;
}
.live-box {
  height: 450px;
  width: 700px;
  margin-top: 20px;
  object-fit: contain;
  border: 3px solid rgb(7, 213, 38);
  border-radius: 5px;
}

/* live detection list and Graph */
.live-list-graph-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.live-detected-list {
  display: none;
  margin-top: 2.5rem;
  height: 100vh;
}
.live-refresh {
  margin-left: 2.5rem;
  margin-top: 1rem;
}
.live-list-container{
  font-family: Arial, sans-serif;
  width: 400px;
  height: 550px;
  overflow-y: auto;
  background: white;
  border: 2px solid #ccc;
  border-radius: 10px;
  padding: 1rem;
  margin-left: 2.5rem;
  margin-top: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.live-detection {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.live-detection:last-child {
  border-bottom: none;
}
.live-graph {
  width: 90%;
  height: 535px;
  overflow-x: auto;
  border: 1px solid #ddd;
  padding: 10px;
  margin: auto;
  background: #f8f8f8;
  margin: 10px 20px;
}
#live-detectionsChart {
  width: 400px;
  height: 100%;
}

/* footer */
footer {
  background: #222;
  color: #fff;
  padding: 40px 0;
  font-family: Arial, sans-serif;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
}

.footer-section {
  flex: 1;
  min-width: 250px;
  margin: 20px;
}

.footer-section h2 {
  font-size: 20px;
  margin-bottom: 15px;
  border-bottom: 2px solid #e63946;
  display: inline-block;
  padding-bottom: 5px;
}

.footer-section p {
  font-size: 14px;
  line-height: 1.6;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin: 10px 0;
}

.footer-section ul li a {
  color: #bbb;
  text-decoration: none;
  transition: 0.3s;
}

.footer-section ul li a:hover {
  color: #e63946;
}

.social-icons a {
  color: #fff;
  margin-right: 10px;
  font-size: 18px;
  transition: 0.3s;
}

.social-icons a:hover {
  color: #e63946;
}

.footer-bottom {
  text-align: center;
  margin-top: 20px;
  padding-top: 15px;
  border-top: 1px solid #444;
  font-size: 14px;
}
